@charset "utf-8";
@import "normalize";
@import "bootstrap";

body {
  background: #c3d5d5;  // Not sure if I want a background color
  font-size: 11pt;
}

.jumbotron {
  background: #000000 url('/images/blog-header-photo.jpg') center no-repeat;
  background-size: cover;
  height: 250px;
  margin: 0 0 35px 0;
  padding: 0;

  .container {
    z-index: 4;
    position: relative;

    .blog-title-box {
      position: relative;

      .content {
        background-color: rgba(0, 0, 0, 0.65);
        color: #ffffff;
        font-size: 24pt;
        margin-top: 50px;
        padding: 40px 20px;
        text-align: center;
        text-shadow: 3px 3px #000000;

        a, a:link, a:hover, a:visited {
          color: inherit;
          text-decoration: none;
        }
      }
    }
  }
}

.content {
  background: #e1ecee;
}

h1 {
  color: rgba(0,0,0,0.5);
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.8em;
  font-weight: 400;
  margin: 0;
}

.article-content {
  code {
    overflow: scroll;
    white-space: pre;
  }

  .article-date {
    padding-bottom: 5px;
  }

  .caption {
    font-size: 9pt;
    font-weight: bold;
    padding-bottom: 35px;
  }
}

.image-box {
  padding: 15px 45px;
  .image-box-content {
    img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      padding: 3px;
      width: 100%;
    }
  }
  .image-box-caption {
    padding: 5px;
    font-weight: bold;
  }
}