!!!
%html
  %head
    %meta{ content: "IE=edge", 'http-equiv': "X-UA-Compatible" }
    %meta{ charset: "utf-8" }
    %meta{ content: "width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no", name: "viewport" }

    %title Winston Kotzan's Technology Blog

    =stylesheet_link_tag :site, relative: true
    =javascript_include_tag :all, relative: true
    =javascript_include_tag "jquery-2.2.3.min.js", relative: true

    =partial 'google_analytics'

  %body{ class: page_classes }

    = partial "header"

    .container.content
      =yield
