---
title: Interviewing Tip - 3 Step Process fo Writing a Good Cover Letter
date: 2017-07-17 18:55 EST
tags: interviewing
---

Cover letters are important! After going through a pile of resumes, they can all start to look the same. Most job
applicants for a particular position will have work histories in some business-y job doing similar job titles, give or
take a few years difference in experience. The one chance you have to stand out and make _your_ application stand out
is through a well written cover letter.

I've come up with a simple 3-step formula for making your cover letter concise and make your background stand out.

1. Introduce yourself - tell them who you are and what you're looking for. You can even say what exactly it was
   about this particular posting that caught your attention.

2. Pull out something about the job position and write about how you have relevant experience doing that.

3. Call to action. This is something I learned to consciously do from Youtube.


Let's look at an example hypothetical job posting.

> We are looking for a Senior Ruby Developer to join our existing team. The position is full time and can be remote.
> Strong knowledge of Ruby is required. Real world experience building and maintaining Ruby on Rails apps is a must - from UI to APIs. This project will involve being part of a team working on an application used by tens of thousands of customers every day.
> Our typical project stack is Ruby, Rails, JavaScript and PostgreSQL. We prefer developers who  embrace new approaches and the craft of software design to solve problems.

Now let's read the same posting again, this time I'm going to highlight key phrases to pull out for crafting a cover
letter:

> We are <span style="color: green; font-weight: bold">looking for a Senior Ruby Developer</span> to join our existing team. The position is full time and <span style="color: green; font-weight: bold">can be remote</span>.
> Strong knowledge of Ruby is required. <span style="color: blue; font-weight: bold">Real world experience building and maintaining Ruby on Rails apps is a must - from UI to APIs</span>. This project will involve being part of a team working on an application <span style="color: blue; font-weight: bold">used by tens of thousands of customers</span> every day.
> Our typical project stack is <span style="color: blue; font-weight: bold">Ruby, Rails, JavaScript and PostgreSQL</span>. We prefer developers who embrace new approaches and the craft of software design to solve problems.

I color coded accordingly to match steps 1, 2, and 3 of the process I am suggesting. Here's the cover letter body:

> I am <span style="color: green; font-weight: bold">an experienced Ruby on Rails developer</span> looking for <span style="color: green; font-weight: bold">remote work</span>.
> I enjoy working on a variety of projects, and have been <span style="color: green; font-weight: bold">taking on remote contracts of late</span>. At FinCorp, a Chicago-based finance tech company, I worked with an agile team to maintain and build new logic into a Ruby-based accounting system for a <span style="color: blue; font-weight: bold">$3 billion loan portfolio</span>.
> In other projects, I've also written Ruby programs to <span style="color: blue; font-weight: bold">scrape large amounts of data from financial APIs</span>. My expertise falls largely into back-end and data management with systems like <span style="color: blue; font-weight: bold">PostgreSQL</span>, but I am also familiar with <span style="color: blue; font-weight: bold">front end including Javascript, JQuery, and React</span>.
> I hope you find my qualifications appealing. I am eager to get to together with a bright team and start some new interesting projects! <span style="color: red; font-weight: bold">Please reply to this email if you think I’m a good fit for the team!</span>

I start off by saying I'm an experienced Ruby developer looking to work remotely to show that the kind of job I'm looking for
is aligned with the kind of employee they are looking to higher. The job posting stresses they want someone with real world
experience making applications and interfacing APIs. Their website is a busy one with lost of customers. To highlight how I
worked on sizable systems like that, I state that I worked on a large accounting system for $3 billion worth of loans and
also mention my API experience.

Now my weak area for this job search is my lack of resume experience building the front end experience of websites. However,
I try to make up for it by stating the major frameworks I'm familiar with. When applying for a job, it's okay to fall short
on a bullet point or two if you strongly meet the other requirements they are seeking.

Lastly, I have the call to action by suggesting the reader reply to this email.

<a target="_blank" href="https://www.amazon.com/gp/product/0985757116/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=0985757116&linkCode=as2&tag=winstonkotzan-20&linkId=49527ca8d490f74681ce640c10f22108">This is Not Your Father's Job Market: Job Seeking Strategies for Today's New College Graduates</a><img src="//ir-na.amazon-adsystem.com/e/ir?t=winstonkotzan-20&l=am2&o=1&a=0985757116" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />

<iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ac&ref=qf_sp_asin_til&ad_type=product_link&tracking_id=winstonkotzan-20&marketplace=amazon&region=US&placement=0985757116&asins=0985757116&linkId=f280bde1ac5d26e167436aca1ba048ee&show_border=false&link_opens_in_new_window=true&price_color=333333&title_color=0066c0&bg_color=ffffff"></iframe>