---
title: Interviewing Tip - Peel the Onion
date: 2017-07-13 18:55 EST
tags: interviewing
---

I'm the author of the college student job search guide, [This is Not Your Father's Job Market](https://www.amazon.com/gp/product/0985757116/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=0985757116&linkCode=as2&tag=winstonkotzan-20&linkId=49527ca8d490f74681ce640c10f22108),
and right now I'm actively using those job search skills again myself as I look for new technical projects. Something that I
retrospectively caught myself doing today during a phone interview is rambling a bit.

One of the tricky things about interviewing in general, but in particular with phone interviewing, is that it's easy to
spill too much information when answering an interview question. So in the call I was on today, I asked the interviewer
about the production stack they are using to run their website. He said that their front-end is very simple-just some
plain Javascript, but in this role I was in I may have an opportunity to help them decide how to build a more up-to-date
front end. I then started talking about my personal experience using React.js and other front end frameworks, and probably
spoke for a good 3 minutes espousing my opinions of the pros and cons of each.

There's a few reasons talking too continuously is bad for interviews:

1. You don't have visual cues as to how the interviewer is reacting. i.e.) the person on the other end of the
   line might look bored or disinterested in what you are saying, but since you can't see it's difficult to know.
2. You might reveal something compromising or contrary to what the interviewer is looking for. For example, I may have
   given the impression in this case that I was biased to React.js. What if this team wanted to use Ember.js?
3. You might inadvertently come across as a know-it-all. Talking too much on a topic makes it sound like you're
   trying to dominate the conversation. This can easily happen over the phone when only one person can speak at a time.
   At worst, your opinions may even conflict with the interviewer's opinions making you a dislikable candidate.

The way to fix this is to only give enough information and talk long enough to give what's needed - it's like peeling an
onion only one layer at a time. Don't give away the whole thing at once. If the interviewer is interested in what you
have to say, he'll probe for more. You can also end each statement you make by affirming with: "Does that adequately
answer the question?" or "Is there any topic you'd like me to talk about some more?"

If you want a job search guide full of awesome tips like this, I recommend getting a copy of my book! Link below.

<a target="_blank" href="https://www.amazon.com/gp/product/0985757116/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=0985757116&linkCode=as2&tag=winstonkotzan-20&linkId=49527ca8d490f74681ce640c10f22108">This is Not Your Father's Job Market: Job Seeking Strategies for Today's New College Graduates</a><img src="//ir-na.amazon-adsystem.com/e/ir?t=winstonkotzan-20&l=am2&o=1&a=0985757116" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />

<iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ac&ref=qf_sp_asin_til&ad_type=product_link&tracking_id=winstonkotzan-20&marketplace=amazon&region=US&placement=0985757116&asins=0985757116&linkId=f280bde1ac5d26e167436aca1ba048ee&show_border=false&link_opens_in_new_window=true&price_color=333333&title_color=0066c0&bg_color=ffffff"></iframe>